* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: "Manrope", sans-serif;
    height: 100vh;
}
.header-container{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

a img {
    width: 60%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

nav ul li {
    list-style: none;
    font-size: 12px;
    font-weight: bold;
}

.line {
    border-right: 1px solid black;
    height: 7vh;
    padding-right: 2rem;
}

.info-container {
    display: flex;
    column-gap: 0.5rem;
    padding-left: 1rem;
}

.road {
    font-size: 14px;
}

.num {
    font-weight: bold;
    font-size: 14px;
}
.section-1-bg {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1 {
    display: flex;
    width: 70%;
    margin: 0 auto;
    height: 90%;
}

.section-bg {
    background-image: url("../images/Image\ 1\ \(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
}

h1 {
    font-size: 55px;
    font-family: "Manrope", sans-serif;
    margin-top: 4rem;
    padding-right: 3rem;
}

.book-service {
    border-style: none;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: #FF6433;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    margin-top: 1rem;
    transition: 2s ease-in-out;
}

.book-service:hover {
    transform: scale(1.2);
}

.open-text > :first-child {
    font-size: 12px;
    font-family: "Manrope", sans-serif;
    line-height: 24px;
    color:  #939191;
}

.open-text > :nth-last-child(1) {
    font-size: 14px;
    line-height: 31px;
}

.service {
  position: absolute; 
  bottom: 17rem;
  right: 11rem;
  height: 300px;
}

.rating {
  position: absolute; 
  height: 250px;
  left: 12rem;
  top: 22rem;
}

.section-2 {
    background-color:  #E2E6E9;
    height: 80vh;
}

.sub-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.icon {
    display: flex;
    align-items: center;
    justify-items:center;
    gap: 10px;
}

.wrap-services {
    padding-left: 2.3rem;
    font-size: 14px;
    opacity: 60%;
}

.first-service,
.second-service,
.third-service {
    margin-top: 2rem;
}

.know-more {
    display: flex;
    gap: 1rem;
    padding-left: 2.3rem;
    margin-top: 1rem;
}

.know-more > p {
    font-size: 14px;
}

.quote-car  h1 {
    font-size: 34px;
    margin-top: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 1rem;
}

input {
    width: 100%;
    padding: 1rem;
    outline-color:rgb(255, 255, 255);
    outline-style: none;
    border: none;
}

.section-three {
    height: 60vh;
}

.section-three-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.right-section h1  {
    width: 90%;
}

.right-section p{
    width: 60%;
    opacity: 60%;
}

.left {
    margin-top: 3rem;
}

.one-image {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.wrap-text {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2.6rem;
    padding-left: 1.5rem;
    font-size: 14px;
    opacity: 60%;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 90%;
}

.last{
    padding-left: 2.6rem;
    font-size: 14px;
    opacity: 60%;
}

.section-four {
    background: #F2F2F2;
    height: 85vh;
}

.section-four-container {
    width: 70%;
    margin: 0 auto;
}

.title p {
    text-align: center;  
    position: relative;
        top: 2rem; 
        font-weight: 500;
}

.title h1 {
     text-align: center;
     position: relative;
        bottom: 2rem; 
}

.grid-contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
    margin-top: 0.5rem;
}

.contents {
  background: #FFFFFF;
  text-align: center;
  padding: 3rem;
}

.contents:hover {
    transition:  0s ease-out; 
    transform: scale(1.1);
}

.red {
    background: #FF6433;
}

.learn-more {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 1rem;
}

.arrow:hover {
    position: relative;
    left: 2rem;
    transition: 3s ease-in-out;  
}

.section-five {
    height: 50vh;
    animation-duration: 3s;
    animation-name: slidein;
}

.row-contain {
    display: flex;
    height: 100%;
}

.get-in-touch {
    background: #FF6433;
    height: 100%;
    width: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 2rem;
}

.get-in-touch h1 {
    font-size: 28px;
    color:  #FFFFFF;
}

.first-row {
    background-image: url("../images/Image\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.second-row {
    background-image: url("../images/ovGrEUgrkyE.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;   
}

.contact-us {
    padding: 1rem;
    justify-items: flex-start;
    background: #1E1B1B;
    border-style: none;
    border-radius: 10px;
    color: #FFFFFF;
    margin-top: 1rem;
    width: 30%;
      transition:  ease-in-out;
}

.contact-us:hover {
    transform: scale(1.5);
}

.row-for-num { 
   display: flex;
   padding: 2rem;
}

.numbers {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%; 
    align-items: center;
}

.num > h2 {
    color:  #661CE7;
    font-size: 40px;
}

.num  p {
    font-size: 16px;
    opacity: 80%;
}

.brands {
    background: #FAFAFA;
}

.brands-wrap {
    width: 70%;
    margin: 0 auto;
    height: 50vh;
}

.brands-wrap h1{
    text-align: center;
}

.brand {
    display: flex;
}

.brands-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 4rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.our-customer {
    background: #F2F2F2;
    height: 100vh;
}

.our-customer-wrap {
    width: 70%;
    margin: 0 auto;
}

.our-customer-wrap h1 {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 4rem;
}
.slide {
    display: flex;
    gap: 25px;
    margin: 0 auto;
    margin-top: 6rem;
}
.first-slide {
    width: 50%;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 2rem;
}
.first-img {
    display: flex;
    align-items: center;
    gap: 5px;
}
.first-slide-text {
    width: 95%;
    margin-top: 1rem;
    font-size: 24px;
    color: #1E1B1B;

}
.first-slide-name :first-child {
    font-weight: bold;
}
.first-slide-name :last-child {
    color: #939191;
    font-size: 12px;
}
.second-slide {
    width: 50%;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    padding: 2rem;
}
.second-img {
    display: flex;
    align-items: center;
    gap: 5px;
}
.wrap-slide {
    width: 70%;
    margin: 0 auto;
}
.slide-show {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 59%;
    float: right;
    margin-top: 1rem; 
}
.horizontal {
    display: flex;
    gap: 10px;
}
.horizon {
    padding-right: 2rem;
    border: 2px solid #939191;
}
.horizontal .third {
    border: 2px solid #FF6433; 
}
.arrow-wrap {
    display: flex;
    gap: 10px;
}
.arrow-left {
    border-radius: 50%;
    padding: 1rem;
    background-color: #FFFFFF;
}
.arrow-right {
    border-radius: 50%;
    padding: 1rem;
    background-color: black;
}
.faq {
    background: #E2E6E9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.faq-wrap {
    width: 70%;
    margin: 0 auto;
}
.faq-wrap h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 4rem;
}
.questions {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
    gap: 10px;
}
.first-question {
    border: 2px solid #FFFFFF;
    padding: 1rem;
    background-color: #FFFFFF;
}
.first-question p {
    color: #939191;
    padding-right: 8rem;
}
.title-questions {
    display: flex; 
    align-items: center;
    justify-content: space-between;

}
.box {
    padding: 10px 15px 10px 15px;
    background-color: #FF6433;
    color: #FFFFFF;
    font-size: 20px;
}

.last-section {
    background: #1E1B1B;
    opacity: 98%;
}
.last-section-wrap {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-info-text {
 width: 100%;
}
.contact-info-text h1 {
    font-size: 47px;
    color: #FFFFFF;
}
.social-handles {
    margin-top: 2rem;
    display: flex;
    column-gap: 1rem;
}
.address {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    width: 100%;
    margin-top: 6rem;
}

.help-line :first-child {
    font-size: 10px;
    margin-bottom: 0.5rem;
}
.contact-address :first-child {
    font-size: 10px;
    margin-bottom: 0.5rem;
}
.we-are-open :first-child {
    font-size: 10px;
    margin-bottom: 0.5rem;
}
footer {
    background-color: #1E1B1B;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.wrap-footer {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrap-footer ul {
    display: flex;
    column-gap: 2rem;
}
.wrap-footer ul li {
    list-style: none;
}
.wrap-footer ul li a {
   text-decoration: none; 
    color: #FFFFFF; 
}
.wrap-footer p {
   color: #939191;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media  screen and (min-width: 320px) and (max-width: 767px){
    .header-container{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }
    .line {
        border: none;
    }

    a img {
        margin-left: 2rem;

    }
   
    .section1 {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    
    .text h1 {
        padding: 0;
        font-size: 20px;
    }
    .service {
        top: 0;
        bottom: 19rem;
        left: 0;
        right: 11rem;
        height: 60%;
    }
    .rating {
        top: 9rem;
        bottom: 0;
        left: 7rem;
        height: 60%;
    }
    .section-2 {
        height: 100vh;
        padding-bottom: 44rem;
    }
    .sub-container {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding: 1rem;
    }
    .car-services h1 {
        font-size: 20px;
        text-align: center;
    }
    .quote-car h1 {
        font-size: 20px;
        margin-top: 0;
    }
    .quote-car {
        padding: 0;
        margin-top: 1rem;
        height: 100vh;
       
    }
    .first-service,
    .second-service,
    .third-service {
    margin-top: 0.5rem;
    }
   
    .section-three {
        height: 100vh;
    }
    .section-three-container {
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }
    .right-section h1 {
        font-size: 20px;
    }
    .right-section p {
        width: 100%;
    }
    .section-four {
        height: 100vh;
       margin-bottom: 5rem;
    }
    .section-four-container {
        height: 100vh;
        width: 100%; 
    }

    .title h1{
        font-size: 23px;
        text-align: center;
    }
    .grid-contents { 
        grid-template-columns: 1fr 1fr;
    }
    .contents {
        padding: 2rem;
    
    }

    .section-five {
        height: 100vh;
    }
    .row-contain {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .first-row {
        width: 100%;
    }
    .second-row {
        width: 100%;
    }
    .get-in-touch h1 {
        font-size: 12px;
    }
    .contact-us {
        padding: 1rem;
        margin-top: 1rem;
        width: 50%; 
    }
 
     .numbers {
         display: flex;
         flex-direction: column;
        text-align: center;
         gap: 10px;
     }
     .brands {
        height: 90vh;
    }
      
    .brands-wrap h1{
        font-size: 20px;
    }
 
    .brands-grid {
        grid-template-columns: 1fr 1fr ;
        gap: 4rem;
    }
    .our-customer {
        height: 100vh;
    }
    .our-customer-wrap {
        width: 100%;
        padding: 1rem;
    }
    .our-customer-wrap h1 {
       font-size: 12px;
       text-align: center;
       margin: 0 auto;
    }
    .slide {
        flex-direction: column;
        gap: 8px;
    }
    .first-slide {
        width: 100%;
        padding: 1rem;
    }
  
    .second-slide {
        width: 100%;
        padding: 1rem;
    }
    .wrap-slide {
        width: 70%;
        margin: 0;
        align-items: center;
    }
    .slide-show {
        flex-direction: column;
        width: 100%;
    }

    .arrow-wrap {
        margin-top: 2rem;
    }
    .faq {
     height: 100vh;
     margin-bottom: 5rem;
    }
    .faq-wrap {
        width: 100%;
        margin: 0 auto;
    }
    .faq-wrap h1 {
        text-align: center;
        font-size: 20px;
    }
    .questions {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        gap: 10px;
     
    }
    .first-question {
        border: 2px solid #FFFFFF;
        padding: 1rem;
        background-color: #FFFFFF;
    }
    .first-question p {
        color: #939191;
        padding-right: 2rem;
    }
    .title-questions {
        display: flex; 
        align-items: center;
        justify-content: space-between;
    }
    .box {
        padding: 10px 15px 10px 15px;
        background-color: #FF6433;
        color: #FFFFFF;
        font-size: 20px;
    }
    .last-section {
       height: 75vh;
    }
  
    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-info-text h1 {
        font-size: 17px;
    }
    .address {
        gap: 1rem;
    }
    
    footer {
        height: 50vh;
    }
    .wrap-footer {
        width: 70%;
        flex-direction: column;
        row-gap: 1rem;
    }
    .wrap-footer ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 2rem;
    }
 
}
@media  screen and (min-width: 768px) and (max-width: 1023px) {
    .header-container {
        width: 90%;
    }
    .section-1-bg {
        border: 2px solid green;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .section1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        height: 100vh;
    }
    
    .section-bg {
        background-image: url("/images/Image\ 1\ \(2\).png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: relative;
    }
    .service {
      position: absolute; 
      bottom: 11rem;
      right: 17rem;
      height: 400px;
    }
    
    .rating {
      position: absolute; 
      height: 400px;
      left: 13rem;
      top: 18rem;
    }
    
    .section-2 {
        background-color:  #E2E6E9;
        height: 100vh;
        border: 2px solid brown;
    }
    
    .sub-container {
        width: 90%;
        flex-direction: column;
        height: 100vh;
    }
      
    .section-three {
        height: 80vh;
    }
    
    .section-three-container {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    
    .right-section h1  {
        width: 100%;
        font-size: 32px;
    }
    
    .right-section p{
        font-size: 20px;
    }
    
    .left {
        margin-top: 3rem;
    }
    
    .one-image {
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 1rem;
    }
    
    .wrap-text {
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 2.6rem;
        padding-left: 1.5rem;
        font-size: 20px;
        opacity: 60%;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 90%;
    }
    
    .last{
        padding-left: 2.6rem;
        font-size: 20px;
        opacity: 60%;
    }
    
    .section-four {
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .section-four-container {
        width: 95%;
        margin: 0 auto;
    }
    
    .title h1 {
        font-size: 30px;
    }
    
    .section-five {
        height: 70vh;
        border: 4px solid goldenrod;
        animation-duration: 3s;
        animation-name: slidein;
    }
    
    .row-contain {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .first-row {
        height: 100%;
        width: 100%;
    }
    
    .second-row {
        width: 100%;
        height: 100%;   
    }

    .brands-grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    }
    .brands-wrap {
        width: 70%;
        margin: 0 auto;
        height: 40vh;
    }
     
    .our-customer {
        height: 70vh;
    }
    
    .our-customer-wrap {
        width: 100%;
        margin: 0 auto;
    }
    
    .our-customer-wrap h1 {
        text-align: center;
        font-size: 25px;
    }
  
    .first-slide {
        width: 100%;
        padding: 2rem;
    }
   
    .second-slide {
        width: 100%;
        padding: 2rem;
    }
    .slide {
        flex-direction: row;
        gap: 25px;
    }
    .wrap-slide {
        width: 100%;
        margin: 0 auto;
    }
   
    .faq {
        height: 90vh;
    }
    .faq-wrap {
        width: 100%;
    }
   
    .questions {
        width: 85%;
    }
    .first-question {
        border: 2px solid #FFFFFF;
        padding: 1rem;
        background-color: #FFFFFF;
    }
    
    .last-section {
        background: #1E1B1B;
        opacity: 98%;
        height: 70vh;
    }
    .last-section-wrap {
        width: 90%;
    }
    .contact-info {
        display: flex;
        flex-direction: column;
    }

    .address {
        font-size: 20px;
    }
    
    .help-line :first-child {
        font-size: 19px;
    }
    .contact-address :first-child {
        font-size: 19px;
    }
    .we-are-open :first-child {
        font-size: 19px;
    }

    .wrap-footer {
        width: 95%;
    }
    .wrap-footer ul {
        column-gap: 1rem;
    }
}
